.venv
venv
hollowness.mp4
idol.mp4
bad_apple.mp4
player_video.py
0
__pycache__
.pytest_cache
test_main.py
player.py
.pdfignore
project_context.pdf
bad_apple.mp4
player_video.py
build/
dist/
main.spec
